<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SleepTime" value="10"/>
  </appSettings>
  <connectionStrings>
    <add name="MySQlMDMSConnection" connectionString="Server=43.231.124.155;Port=3306;Database=mdms;Uid=root;Pwd=admin1234;"/>
    <add name="MSSQlMDASConnection" connectionString="Server=43.231.124.155;Initial Catalog=mdasdb;User ID=sa;Password=Fa3bbpp9Jat3#D;Connection Timeout=30;"/>
     <!--<add name="MySQlMDMSConnection" connectionString="Server=52.183.129.149;Database=mdms;Uid=root;Pwd=iBot@1234;"/>
    --><!--<add name="MySQlMDASConnection" connectionString="Server=52.172.182.71;Database=mdms;Uid=somu;Pwd=ibot123;"/>--><!--
    <add name="MSSQlMDASConnection" connectionString="Server=tcp:ibotmde.database.windows.net,1433;Initial Catalog=mdasdb;Persist Security Info=False;User ID=iBotMDE_SQL;Password=admin@06012021;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>